<div class="pt-3">
  <h1 className="large text-primary">Register your Account</h1>
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email Address"
        required
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">First Name</label>
      <input
        type="text"
        class="form-control"
        name="password"
        placeholder="First Name"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="password"
        placeholder="Last Name"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Please enter your password..."
      />
      <small className="text-black-50">
        Password should be longer than 8 characters with at least one number,
        one upper case letter and one special sign.
      </small>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
