<div class="container-fluid">
  <!-- Movie Header Section -->
  <div class="row bg-dark text-light">
    <!-- Movie Poster -->
    <div class="col-3 px-0">
      <img [src]="movie?.posterUrl" class="img-fluid" [alt]="movie?.title" />
    </div>
    <!-- Movie Overview -->
    <div class="col-6 card bg-dark text-light pt-3 mt-4 border-dark">
      <h2 class="card-title">{{ movie?.title }}</h2>
      <h3 class="card-subtitle mb-2 text-muted">
        <p>{{ movie?.tagline }}</p>
      </h3>
      <h4 class="card-subtitle mb-2 text-muted">
        {{ movie?.runTime }} m | {{ movie?.createdDate | date: "mediumDate" }}
      </h4>
      <h4 class="card-subtitle mb-2 pt-2">
        <span class="badge badge-warning"
          >{{ movie?.rating | number: "1.0-3" }}
        </span>
      </h4>
      <h4 class="card-subtitle mb-2 pt-2">
        <span
          *ngFor="let genre of movie?.genres"
          class="badge badge-light mr-1"
        >
          <a [routerLink]="['/movies/genres', genre.id]" class="text-secondary">
            {{ genre.name }}
          </a>
        </span>
      </h4>
      <p class="card-body">{{ movie?.overview | overview }}</p>
    </div>

    <!-- User Action Section -->
    <div class="col-3 pt-4 mt-5">
      <div class="row">
        <button
          *ngIf="movie?.isFavoriteByUser"
          class="btn btn-outline-light mb-3"
          (click)="toggleFavorite(movie.id)"
        >
          <a><i class="fas fa-heart"></i>&nbsp; Remove Favorite</a>
        </button>

        <button
          *ngIf="!movie?.isFavoriteByUser"
          class="btn btn-outline-light mb-3"
          (click)="toggleFavorite(movie.id)"
        >
          <a><i class="far fa-heart"></i>&nbsp; Favorite</a>
        </button>
      </div>

      <!-- Review Modal -->
      <ng-template #reviewbox let-modal>
        <div class="modal-header">
          <h2 class="modal-title">Leave a Review</h2>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form (submit)="submitReview()" #reviewForm="ngForm">
            <div class="form-group">
              <h4>Review</h4>
              <mat-form-field appearance="outline" class="container-fluid">
                <textarea
                  matInput
                  placeholder="Ex. Best movie ever!!"
                  [(ngModel)]="review.reviewText"
                  name="reviewText"
                ></textarea>
                <mat-hint
                  >Please leave a comment with a maximum of 550
                  characters.</mat-hint
                >
                <mat-hint align="end"
                  >{{ review.reviewText?.length || 0 }}/550</mat-hint
                >
              </mat-form-field>
            </div>

            <div class="form-group">
              <h4>Rating: 0 - 10</h4>
              <br />
              <mat-slider
                min="0"
                max="10"
                step="0.5"
                name="rating"
                [(ngModel)]="review.rating"
                [thumbLabel]="true"
                class="container-fluid"
              ></mat-slider>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            (click)="modal.close('Close click')"
          >
            Close
          </button>

          <button
            type="submit"
            class="btn btn-info"
            *ngIf="!isReviewedBefore"
            [disabled]="review.reviewText.length > 550"
            (click)="submitReview(); modal.close('Close click')"
          >
            Submit
          </button>

          <button
            type="submit"
            class="btn btn-info"
            *ngIf="isReviewedBefore"
            [disabled]="review.reviewText.length > 550"
            (click)="submitReview(); modal.close('Close click')"
          >
            Update
          </button>
        </div>
      </ng-template>

      <div class="row">
        <button
          class="btn btn-block btn-outline-light mb-3"
          (click)="openReview(reviewbox)"
        >
          <i class="fas fa-edit"></i>&nbsp; Leave a Review
        </button>
      </div>
      <div class="row">
        <button class="btn btn-block btn-outline-light mb-3">
          <i class="fas fa-play"></i> WATCH TRAILER
        </button>
      </div>
      <div class="row">
        <button
          *ngIf="movie?.isPurchasedByUser"
          class="btn btn-block btn-outline-light"
        >
          <i class="fas fa-film"></i>&nbsp; WATCH
        </button>

        <button
          *ngIf="!movie?.isPurchasedByUser"
          (click)="purchaseMovie(movie.id, movie.price)"
          class="btn btn-block btn-outline-light"
        >
          <i class="fas fa-shopping-cart"></i>&nbsp; BUY &nbsp;
          {{ movie?.price | currency }}
        </button>
      </div>
    </div>
  </div>

  <div class="row pt-3 px-0">
    <!-- Movie Facts -->
    <div class="col-md-4">
      <div class="card border-top-0 border-left-0 border-right-0 shadow-sm">
        <h4 class="card-title pt-2 pl-2">Movie Facts</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-calendar-alt"></i>&nbsp; Release Date &nbsp;
            <span class="badge badge-dark">
              {{ movie?.createdDate | date: "mediumDate" }}
            </span>
          </li>
          <li class="list-group-item">
            <i class="fas fa-hourglass-half"></i>&nbsp; Run Time &nbsp;
            <span class="badge badge-dark"> {{ movie?.runTime }} m </span>
          </li>
          <li class="list-group-item">
            <i class="fas fa-money-bill"></i>&nbsp; Box Office &nbsp;
            <span class="badge badge-dark">
              {{ movie?.revenue | currency }}
            </span>
          </li>
          <li class="list-group-item">
            <i class="fas fa-dollar-sign"></i>&nbsp; Budget &nbsp;
            <span class="badge badge-dark">
              {{ movie?.budget | currency }}
            </span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Movie Cast Info -->
    <div class="col-md-8">
      <div class="card shadow-sm border-top-0 border-left-0 border-right-0">
        <h4 class="card-title pt-2 pl-2">Movie Cast</h4>

        <ul class="list-group">
          <li
            *ngFor="let cast of movie?.casts"
            class="list-group list-group-horizontal"
          >
            <a class="list-group-item col-4">
              <img
                class="rounded-circle img-fluid w-25"
                [src]="cast.profilePath"
                [alt]="cast.name"
              />
            </a>
            <a class="list-group-item col-4"> {{ cast.name }} </a>
            <span class="list-group-item col-4"> {{ cast.character }} </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
