@model MovieStore.Core.Entities.Movie

<div class="col-6 col-lg-3 col-sm-4 col-xl-2">
    <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id">
        <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title"/>
    </a>
</div>