@model IEnumerable<MovieStore.Core.Entities.Genre>

@foreach (var genre in Model)
{
    <a class="dropdown-item" asp-controller="Movies" asp-action="Genres" asp-route-id="@genre.Id"> @genre.Name </a>
}